<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="true"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=com.jspiders"/>
        <listEntry value="artifactId=hibernateannotations"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.jspiders.hibernateannotations"/>
        <listEntry value="outputDirectory=D:\WEJE3"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Dhananjay\AppData\Local\Temp\m2e-archetypeGenerator17493989748883544996"/>
</launchConfiguration>
